body {
  font: 300 14px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td{
  font-size: 14px;
}

th{
  font-size: 18px;
}

.heading{
  text-align: center;
  border-radius: 8px;
  color: white;
  background: #006dcc;
}
.brand {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  padding: 10px 10px;
}
.links {
  font-size: 18px;
  font-weight: 500;
  padding: 20px 6px 0px 6px;
}